<div class="login-container">
	<div class="login-panel panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Please Sign In</h3>
		</div>
		<div class="panel-body">
			<a ui-sref="register">Not already registered click here</a>
			<br/>
			<form role="form">
				<fieldset>
					<div class="form-group">
						<input class="form-control" placeholder="Username" name="username" type="text" ng-model="vm.username">
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Password" name="password" type="password" ng-model="vm.password">
					</div>
					<!-- Change this to a button or input when using this as a form -->
					<a class="btn btn-lg btn-success btn-block" ng-click="vm.submit(vm.username, vm.password)">Login</a>
				</fieldset>
			</form>
		</div>
	</div>
</div>
