<div class="container">

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<!-- ng-if -->
			<div ng-if="vm.success == true" class="alert alert-success alert-dismissable">
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success</strong> {{vm.msg}}
			</div>
			<div ng-if="vm.success == false" class="alert alert-danger alert-dismissable">
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Error</strong> {{vm.msg}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.showme=!vm.showme">NEW ROOM</button>
			<br/>

			<div ng-show="vm.showme" class="wrapper">
				<div class="panel panel-default">
					<div class="panel-heading">
						Enter the name of your room
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<form role="form">
								<div class="form-group">
									<input ng-model="vm.name" class="form-control" placeholder="Name">
								</div>
								<button ng-click="vm.create(vm)" type="submit" class="btn btn-primary pull-right">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Manage your room
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Status</th>
								<th>Open</th>
								<th>Close</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="index in vm.rooms">
								<td>{{$index + 1}}</td>
								<td>{{index.name}}</td>
								<td ng-if="index.closed">Closed</td>
								<td ng-if="!index.closed">Opened</td>
								<td><button ng-click="vm.open($index)" type="button" class="btn btn-success">Open</button></td>
								<td><button ng-click="vm.close($index, vm)" type="submit" class="btn btn-warning">Close</button></td>
								<td><button ng-click="vm.delete($index, vm)" type="button" class="btn btn-danger">Delete</button></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>