<div class="container">

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.showme=!vm.showme">NEW ROOM</button>
			<br/>

			<div ng-show="vm.showme" class="wrapper">
				<div class="panel panel-default">
					<div class="panel-heading">
						Enter the name of your room
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<form>
								<div class="form-group">
									<input class="form-control" placeholder="Name">
								</div>
								<button type="button" class="btn btn-primary pull-right" ng-click="vm.createRoom(vm.state)">Create</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Manage your room
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Open</th>
								<th>Close</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1</td>
								<td>TWEB</td>
								<td><button type="button" class="btn btn-success">Open</button></td>
								<td><button type="button" class="btn btn-warning">Close</button></td>
								<td><button type="button" class="btn btn-danger">Delete</button></td>
							</tr>
							<tr>
								<td>2</td>
								<td>AMT</td>
								<td><button type="button" class="btn btn-success">Open</button></td>
								<td><button type="button" class="btn btn-warning">Close</button></td>
								<td><button type="button" class="btn btn-danger">Delete</button></td>
							</tr>
							<tr>
								<td>3</td>
								<td>SYM</td>
								<td><button type="button" class="btn btn-success">Open</button></td>
								<td><button type="button" class="btn btn-warning">Close</button></td>
								<td><button type="button" class="btn btn-danger">Delete</button></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
