<div class="container">

	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Choose a room
					</div>

					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Owner</th>
									<th>Action</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="index in vm.rooms" ng-if="!index.closed">
									<td>{{$index + 1}}</td>
									<td>{{index.name}}</td>
									<td>{{index.owner}}</td>
									<td>
										<div class="btn-group">
											<button ng-click="vm.join($index)" type="button" class="btn btn-success">Join</button>
											<button ng-click="vm.follow($index)" type="button" class="btn btn-warning">Follow</button>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





