<div class="container">

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.showme=!vm.showme">NEW QUESTION</button>
			<br/>
		</div>
	</div>

	<div ng-show="vm.showme">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div ng-show="vm.showme" class="wrapper">

					<div class="panel panel-default">
						<div class="panel-heading">
							Question
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<form>
									<div class="form-group">
										<input class="form-control" placeholder="Question">
									</div>

									<table>
										<thead>
										<tr>
											<th>Answers</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="index in vm.list">
											<td>
												<div class="form-group">
													<input class="form-control" placeholder="Possibility">
												</div>
											</td>
										</tr>
										</tbody>
									</table>

									<button type="button" class="btn btn-primary btn-circle" ng-click="vm.addRow()"><i class="fa fa-plus"></i>
									</button>
									<button type="button" class="btn btn-primary btn-circle" ng-click="vm.removeRow()"><i class="fa fa-minus"></i>
									</button>

									<button type="button" class="btn btn-primary pull-right" ng-click="vm.submit()">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

